<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.mxagents.serve</string>
  <key>WorkingDirectory</key>
  <string>/Users/phzwart/Projects/agentsg/agentsg</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>/Users/phzwart/Projects/agentsg/agentsg/src</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/phzwart/Projects/agentsg/agentsg/.venv/bin/python</string>
    <string>-m</string>
    <string>agentsg.serve</string>
    <string>--db</string>
    <string>/Users/phzwart/Projects/agentsg/data/pdb_cells.duckdb</string>
    <string>--host</string>
    <string>127.0.0.1</string>
    <string>--port</string>
    <string>9876</string>
    <string>--token</string>
    <string>REPLACE_FROM_SERVE_LOCAL_ENV</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/agentsg-serve.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/agentsg-serve.err</string>
</dict>
</plist>
